<app-navbar></app-navbar>
<div class="image">
<div class="main">
    <h1>EAT, SLEEP, CODE, REPEAT</h1>
</div>
<div class="card-group mx-auto">
    <div class="card left">
      <img src="assets/images/ritik.jpg">
      <div class="name text-center"><span id = "name">Ritik Mehta</span>
          <br>
          Delhi Technological University
      </div>
      <div class="card-body">
        <p class="card-text">I am a Mathematics and Computing Undergrad student at Delhi Technological University.
            Being a tech geek, my major interests include algorithms, Data Structures, Web Development, Machine Learning
            and Artificial Intelligence.
        </p>
        <h5 class="cardt">Skills</h5>
        <ul>
            <li>Competitive Programmer</li>
            <li>Full-Stack Web Developer</li>
            <li>Machine Learning</li>
        </ul>
      </div>
    </div>
    <div class="card right">
            <div id="carouselExampleSlidesOnly" class="carousel slide cardmain" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <h4>Developer</h4>
                        <div class="card right-card" style="width: 18rem;">
                                <div class="card-body">
                                   <span class = "item item1">Frontend Developer<br>
                                       <span class = "tech">Angular, Javascript</span>
                                   </span>
                                   <span class = "item item2">Backend Developer<br>
                                        <span class = "tech">PHP, Python Django</span>
                                    </span>
                                    <span class = "item item3">Databases<br>
                                            <span class = "tech">MySql, PgAdmin</span>
                                    </span>
                                
                                </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                          <h4>Experiences</h4>
                          <div class="card right-card" style="width: 18rem;">
                                <div class="card-body">
                                   <span class = "item item1">Sellebrate<br>
                                       <span class = "tech">Web Development Intern</span>
                                   </span>
                                   <span class = "item item2">Space India<br>
                                        <span class = "tech">All India Asteroid Search Campaign</span>
                                    </span>
                                </div>
                        </div>
                    
                      </div>
                      <div class="carousel-item">
                        <h4>Python For Machine Learning</h4>
                        <div class="card right-card" style="width: 18rem;">
                                <div class="card-body">
                                   <span class = "item item1">Visualisation<br>
                                       <span class = "tech">matplotlib, seaborn</span>
                                   </span>
                                   <span class = "item item2">Algorithms<br>
                                        <span class = "tech">scikit-learn</span>
                                    </span>
                                    <span class = "item item3">Others<br>
                                            <span class = "tech">numpy, pandas</span>
                                    </span>
                                
                                </div>
                        </div>

                      </div>
                    </div>
            </div>

    </div>
  </div>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
<div class="container">
<footer>
  <a href="https://www.facebook.com/ritik.mehta2012" target="_blank"><i class="fa fa-facebook"></i></a>
  <a href="https://github.com/RM-RITIK" target="_blank"><i class="fa fa-github"></i></a>
  <a href="https://www.linkedin.com/in/ritik-mehta-dtu/" target="_blank"><i class="fa fa-linkedin"></i></a>
  <a href="https://www.instagram.com/ritik_mehta000/" target="_blank"><i class="fa fa-instagram"></i></a>
</footer>
</div>

</div>